<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Perfil do Instrutor</title>
</head>

<body class="bg-gray-900">
    <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between text-white">
                <div class="space-x-4">
                    <a href="/course/show">Cursos</a>
                    <a href="/course/create">Criar novo curso</a>
                </div>
                <form th:action="@{/instructor/logout}" method="post">
                    <button>Logout</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container mx-auto mt-8  ">
        <div class="bg-gray-800 p-8 rounded-lg shadow-md">

            <h1 class="text-2xl font-bold text-gray-100 text-center mb-5" th:text="${instructor.name}"></h1>


            <div class="text-center mb-4">
                <p class="text-gray-400">
                    <span class="font-bold">E-mail: </span> <span th:text="${instructor.email}"></span>
                </p>
                <h2 class="text-gray-100 text-2xl">Cursos</h2>

                <div th:if="${instructor.courses}" class="text-white mt-5 flex justify-center ">
                    <p class="text-red-400" th:if="${error_message}" th:text="${error_message}"></p>
                    <table class="border-collapse border border-gray-300">
                        <thead>
                            <tr>
                                <th class="border border-gray-300 p-2">Nome</th>
                                <th class="border border-gray-300 p-2">Descrição</th>
                                <th class="border border-gray-300 p-2">Categoria</th>
                                <th class="border border-gray-300 p-2">Ativo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="course: ${instructor.courses}"
                                class="hover:odd:bg-slate-500 hover:even:bg-slate-500">
                                <td class="border border-gray-300 p-2" th:text="${course.name}"></td>
                                <td class="border border-gray-300 p-2" th:text="${course.description}"></td>
                                <td class="border border-gray-300 p-2" th:text="${course.category}"></td>
                                <td class="border border-gray-300 p-2" th:text="${course.Active}"></td>
                                <td class="border border-gray-300 p-2">
                                    <form method="post" id="excluir_curso_form" th:object="${deleteCourse}"
                                        th:action="@{/course/delete}">
                                        <input type="hidden" id="curso_id" name="courseID" th:value="${course.id}">
                                        <button class="text-red-500">Excluir</button>
                                    </form>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</body>


</html>